body {
    margin-left: 20vw;
    background-color: black;
    font-family: sans-serif;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    margin-left: 40px;
}

ul {
    color: white;
    list-style-type: none;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.espace {
    margin-top: 10vw;
}

.espace li {
    padding: 10px;
    cursor: pointer;
}

.nav-item {
    color: white;
    margin-left: 10px;
}

.ligne1 {
    border-left: 1px solid #181719;
    height: 131vh;
    top: 0;
    margin-left: 18vw;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    color: white;
    align-items: center;
}

.info {
    margin-left: 10px;
}

.bio {
    position: relative;
    display: inline-flex;
    margin-top: 23px;
    margin-left: 180px;
    gap: 6px;
}

.bio img {
    margin-bottom: 5px;
}

#nom {
    font-size: large;
}

button {
    width: 100px;
    height: 30px;
    background-color: #4b4a49;
    margin-top: 12px;
    border-radius: 8px;
    color: white;
}

.edit {
    margin-left: 10px;
}

.followers {
    margin-left: 180px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.new {
    background-color: rgb(29, 28, 28);
    border: 1px solid gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.cercl {
    display: flex;
    margin-left: 2px;
    margin-top: 80px;
    cursor: pointer;
    position: relative;
}

.plus {
    transform: translate(30%, 15%);
}

.nv {
    margin-top: 60px;
    margin-left: 15px;
    position: absolute;
}

.info .image img {
    width: 130px;
    height: 130px;
    border-radius: 50px;
    position: absolute;
}

.posts {
    color: white;
    height: 90vh;
    margin-left: 40px;
}

.ligne2 {
    border-top: 2px solid #181719;
    margin-top: 35px;
    margin-left: 1px;
    width: 535px;
}

.ligne3 {
    border-top: 2px solid #dbd7d7;
    width: 50px;
    margin-left: 70px;
}

.composants {
    margin-left: 70px;
    margin-top: 12px;
    display: inline-flex;
    gap: 15px;
    color: #837F74;
    cursor: pointer;
}

.composant1 {
    color: white;
}

.publi {
    margin-top: 15px;
}

#post1 {
    width: 200px;
    height: 200px;
}

#post2 {
    width: 200px;
    height: 200px;
}

#profil {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.description2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

footer {
    color: #837F74;
    font-size: xx-small;
}
